/* Karla-Regular */
@font-face {
    font-family: 'Karla';
    src: url(../assets/fonts/karla/Karla-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  
  /* Karla-Medium */
  @font-face {
    font-family: 'Karla-Medium';
    src: url(../assets/fonts/karla/Karla-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  
  /* Karla-Bold */
  @font-face {
    font-family: 'Karla-Bold';
    src: url(../assets/fonts/karla/Karla-Bold.ttf) format('truetype');
    font-style: normal;
    font-weight: 700;
  }
  /* Reckless-Light */
  @font-face {
    font-family: 'Reckless-Light';
    src: url(../assets/fonts/reckless/Reckless-Light.otf)  format('otf'),
      url(../assets/fonts/reckless/Reckless-Light.woff2) format('woff2'),
      url(../assets/fonts/reckless/Reckless-Light.woff) format('woff'),
      url(../assets/fonts/reckless/Reckless-Light.ttf) format('truetype');
    font-style: normal;
    font-weight: 300;
  }
  /* Reckless-Regular */
  @font-face {
    font-family: 'Reckless';
    src: url(../assets/fonts/reckless/Reckless-Regular.otf)  format('otf'),
      url(../assets/fonts/reckless/Reckless-Regular.woff2) format('woff2'),
      url(../assets/fonts/reckless/Reckless-Regular.woff) format('woff'),
      url(../assets/fonts/reckless/Reckless-Regular.ttf) format('truetype');
    font-style: normal;
    font-weight: 400;
  }
  
  /* Reckless-Medium */
  @font-face {
    font-family: 'Reckless-Medium';
    src: url(../assets/fonts/reckless/Reckless-Medium.otf)  format('otf'),
      url(../assets/fonts/reckless/Reckless-Medium.woff2) format('woff2'),
      url(../assets/fonts/reckless/Reckless-Medium.woff) format('woff'),
      url(../assets/fonts/reckless/Reckless-Medium.ttf) format('truetype');
    font-style: normal;
    font-weight: 500;
  }
  